<%-
  include('../partials/head', {
    title,
    stylesheets: ['/css/style.css', '/css/index.css']
  })
%>
  <div class="vitrine-page">
    <main id="main-content" role="main">
      <% blocks.forEach(contentBlock => { %>
        <% if (contentBlock.type === 'header') { %>
          <%- include('../components/header', { contentBlock, user }) %>
        <% } else if (contentBlock.type === 'events' || contentBlock.type === 'offers') { %>
          <%- include('../components/content-section', { contentBlock, user }) %>
        <% } else if (contentBlock.type === 'footer') { %>
          <%- include('../components/footer', { contentBlock, user, getSocialIcon }) %>
        <% } %>
      <% }) %>
    </main>
    
    <%- include('../components/card-modal', { user }) %>
    <%- include('../components/footer-modals', { user }) %>
    <%- include('../components/auth-fab', { user }) %>
  </div>
  
<%-
  include('../partials/footer', {
    scripts: ['/js/index.js', '/js/image-upload.js', '/js/footer-edit.js']
  })
%>
