//- Composant Footer
//- Usage: include components/footer
//- Variables attendues: contentBlock, user, getSocialIcon

footer.block-section.footer-section(data-block-id=contentBlock.id)
  .container
    .footer-content
      .footer-column
        h3 À propos
        - var aboutElement = contentBlock.elements.find(el => el.type === 'text' && el.position === 1)
        if aboutElement
          p= aboutElement.content
        else
          p Batala La Rochelle - Groupe de percussions afro-brésiliennes
      
      .footer-column
        h3 Contact
        - var contactElements = contentBlock.elements.filter(el => el.type === 'text' && el.position > 1 && el.position < 10)
        if contactElements.length > 0
          each contactEl in contactElements
            p= contactEl.content
        else
          p
            | Email : contact@batala-larochelle.fr
          p
            | Téléphone : 06 XX XX XX XX
      
      .footer-column
        h3 Suivez-nous
        .social-links
          - var socialElements = contentBlock.elements.filter(el => el.type === 'link')
          if socialElements.length > 0
            each socialEl in socialElements
              a(href=socialEl.content, target='_blank', rel='noopener noreferrer')
                != getSocialIcon(socialEl.content)
          else
            a(href='#', target='_blank')
              != getSocialIcon('facebook')
            a(href='#', target='_blank')
              != getSocialIcon('instagram')
    
    if user
      .edit-controls
        button.edit-btn(data-block-id=contentBlock.id, data-action='edit-footer')
          | ✏️ Modifier
    
    .footer-bottom
      p &copy; 2025 caixaDev. Tous droits réservés.
