//- Composant Header
//- Usage: include components/header
//- Variables attendues: contentBlock, user

header.block-section.header-section(data-block-id=contentBlock.id)
  - var logoElement = contentBlock.elements.find(el => el.type === 'image' && el.position === 1)
  - var bgElement = contentBlock.elements.find(el => el.type === 'image' && el.position === 2)
  .header-bg(style=bgElement && bgElement.media_path ? `background-image: url(${bgElement.media_path})` : '')
    .container
      .header-content
        if logoElement && logoElement.media_path
          img.logo(src=logoElement.media_path, alt='Logo')
        else
          h1 Titre
        
        nav.header-nav
          a(href='#actus') Actualités
          a(href='#offres') Nos Offres
          a(href='#contact') Contact
          if user
            a.admin-btn(href='/admin/blocks') Admin
        
        if user
          .edit-controls
            button.edit-btn(data-block-id=contentBlock.id, data-action='edit-header')
              | ✏️ Modifier
